@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

    *{
    box-sizing: border-box;
    }

body{
   margin-top: 2rem;
    font-family: 'Nerko One', cursive;
    }

textarea{
    width: 60%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin:auto ;
    text-align: center;
}
#inputbtn{
  padding:0.5rem 1.2rem;
 margin:1rem auto ;
}
#output1{
    width: 60%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin:auto ;
    text-align: center;
}