@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

    *{
    box-sizing: border-box;
    }

body{
   margin: 1rem;
    font-family: 'Nerko One', cursive;
    }


textarea{
    width: 60%;
    height: 14vh;
    display: block;
    padding: 1rem;
    margin:auto ;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(212, 198, 212);
}
 #nametext1{
    background-color: rgb(183, 172, 241);
    height: 8vh;
    width: 85%;
    margin: auto;
    display: inline-block;
    overflow: hidden;
}
#inputbtn {
    display: flex;
    margin:1rem auto ;
    padding: 1rem;
    font-size:1.4rem;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #inputbtn:hover {background-color: #3e8e41}
  
  #inputbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 0.5rem #666;
    transform: translateY(0.5rem);
  }

  #namebtn{
    display: inline-block;
    margin: auto;
    padding: 0.5rem 1rem;
    font-size:1.4rem;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #2cd7ee;
    border: 1px solid black ;
    border-radius: 1rem;
  }

#output1{
    width: 85%;
    height: 13vh;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    margin:2rem auto ;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(223, 134, 134);
}
#output2{
    width: 85%;
    height: 13vh;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    margin:2rem auto ;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(196, 238, 168);
}

.container{
    display: grid;
    grid-template-columns: auto auto;
}